<div class="fixed z-10 inset-0 overflow-y-auto" aria-labelledby="modal-title" role="dialog" aria-modal="true">
  <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
    <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" aria-hidden="true"></div>
    <div
      class="inline-block align-bottom bg-white rounded-md text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-2xl sm:w-full"
      role="dialog"
      aria-modal="true"
      aria-labelledby="modal-headline"
    >
      <form [formGroup]="form" class="w-full rounded-sm">
        <h2 class="bg-black text-white text-xl font-semi-bold py-3 px-6">Ajouter ou éditer un film</h2>
        <div class="grid grid-cols-2">
          <div class="mb-2 p-4">
            <label for="nom" class="mb-3 block text-base font-medium">Titre</label>
            <input
              type="text"
              name="nom"
              [(ngModel)]="selectedMovie.title"
              formControlName="title"
              required
              class="w-full rounded-md border border-blue-950 bg-white py-3 px-6 text-base font-medium text-gray-700 outline-none focus:border-blue-600 focus:shadow-md"
            />
            <br />
            @if(form.controls.title.errors && form.controls.title.touched) {
            <div class="text-red-700">Champ requis</div>
            }
          </div>
          <div class="mb-2 p-4">
            <label for="annee" class="mb-3 block text-base font-medium">Année</label>
            <input
              type="number"
              name="annee"
              formControlName="year"
              [(ngModel)]="selectedMovie.year"
              required
              class="w-full rounded-md border border-blue-950 bg-white py-3 px-6 text-base font-medium text-gray-700 outline-none focus:border-blue-600 focus:shadow-md"
            />
            <br />
            @if (form.controls.year.touched) { @if (form.controls.year.errors?.['required']) {
            <div class="text-red-700">Champ requis</div>
            } @if (form.controls.year.errors?.['min'] && form.controls.year.errors) {
            <div class="text-red-700">Année doit être supérieure à 1895</div>
            } }
          </div>
        </div>
        <div class="mb-2 p-4">
          <label for="director_id" class="text-sm font-medium text-slate-900">Réalisateur</label>
          <select
            name="director_id"
            formControlName="director_id"
            [(ngModel)]="selectedMovie.director_id"
            required
            class="w-full rounded-md border border-blue-950 bg-white py-3 px-6 text-base font-medium text-gray-700 outline-none focus:border-blue-600 focus:shadow-md"
          >
            <option value="" disabled selected>Choisir un réalisateur</option>
            <option *ngFor="let director of directors" [value]="director.id">{{ director.name }}</option>
          </select>

          <br />
          <div *ngIf="form.controls.director_id.errors && form.controls.director_id.touched" class="text-red-700">Champ requis</div>
        </div>
        <div class="mb-2 p-4">
          <label for="synopsis" class="mb-3 block text-base font-medium">Synopsis</label>
          <textarea
            type="text"
            name="synopsis"
            formControlName="synopsis"
            [(ngModel)]="selectedMovie.synopsis"
            required
            class="w-full rounded-md border border-blue-950 bg-white py-3 px-6 text-base font-medium text-gray-700 outline-none focus:border-blue-600 focus:shadow-md"
          ></textarea>
          <br />
          @if (form.controls.synopsis.touched) { @if (form.controls.synopsis.errors?.['required']) {
          <div class="text-red-700">Champ requis</div>
          } @if (form.controls.synopsis.errors?.['minlength']) {
          <div class="text-red-700">Le synopsis doit contenir au moins 5 caractères</div>
          } }
        </div>
        <div class="grid grid-cols-2">
          <div class="mb-2 p-4">
            <label for="created_at" class="mb-3 block text-base font-medium">Créé à</label>
            <input
              type="text"
              name="created_at"
              [value]="formatDate(selectedMovie.created_at)"
              required
              class="w-full rounded-md border border-blue-950 bg-white py-3 px-6 text-base font-medium text-gray-700 outline-none focus:border-blue-600 focus:shadow-md"
              readonly
            />
          </div>
          <div class="mb-2 p-4">
            <label for="updated_at" class="mb-3 block text-base font-medium">Mis à jour à</label>
            <input
              type="text"
              name="updated_at"
              [value]="formatDate(selectedMovie.updated_at)"
              required
              class="w-full rounded-md border border-blue-950 bg-white py-3 px-6 text-base font-medium text-gray-700 outline-none focus:border-blue-600 focus:shadow-md"
              readonly
            />
          </div>
        </div>

        <!--Bouton pour ajouter ou modifier un film-->
        <div class="p-4 flex space-x-4">
          @if (selectedMovie.id){
          <button
            type="submit"
            [disabled]="form.invalid"
            [class.bg-blue-950]="!form.invalid"
            [class.bg-blue-100]="form.invalid"
            (click)="editMovie()"
            class="hover:shadow-form rounded-md bg-blue-950 py-2 px-10 text-base font-semibold text-white hover:bg-blue-900 outline-none"
          >
            Modifier
          </button>
          } @else {
          <button
            type="submit"
            [disabled]="form.invalid"
            [class.bg-blue-950]="!form.invalid"
            [class.bg-blue-100]="form.invalid"
            (click)="addMovie()"
            class="hover:shadow-form rounded-md bg-blue-950 py-2 px-10 text-base font-semibold text-white hover:bg-blue-900 outline-none"
          >
            Ajouter
          </button>
          }
          <button type="button" (click)="closeForm()" class="hover:shadow-form rounded-md bg-red-600 py-2 px-10 text-base font-semibold text-white hover:bg-red-800 outline-none">Annuler</button>
        </div>

        <!--Bouton pour annuler l'ajout ou la modification d'un film-->
      </form>
    </div>
  </div>
</div>
