<div class="w-full h-screen flex justify-center mt-10">
  <div class="p-4">
    <div class="w-full flex justify-end">
      <button (click)="logout()" class="bg-blue-950 text-white font-bold py-2 px-4 rounded mb-5 hover:shadow-lg hover:bg-blue-900">Déconnexion</button>
    </div>
    <div class="flex justify-end w-full">
      <button (click)="displayForm = true" class="bg-blue-950 text-white font-bold py-2 px-4 rounded mb-5 hover:shadow-lg hover:bg-blue-900" data-modal-toggle="default-modal">Ajouter un film</button>
    </div>
    @if(displayForm) {
    <app-add-edit-form (addEmitter)="createMovie($event)" (closeEmitter)="cancel()" />
    } @else if(selectedMovie) {
    <app-add-edit-form (editEmitter)="updateMovie($event)" [selectedMovie]="selectedMovie" (closeEmitter)="cancel()" />
    }

    <h2 class="text-xl font-bold mb-5">Liste des films</h2>

    <input [(ngModel)]="search" type="text" class="w-full border border-gray-200 p-3 mb-5" placeholder="Rechercher un film par titre" />
    <button (click)="searchMovie()" class="bg-blue-950 text-white font-bold py-2 px-4 rounded mb-5 hover:shadow-lg hover:bg-blue-900">Rechercher</button>

    <table class="mb-9 bg-white shadow-md">
      <thead>
        <tr class="bg-blue-950 rounded-tl- text-white">
          <th scope="col" class="p-4 rounded-tl-lg">Titre</th>
          <th scope="col" class="p-4">Année</th>
          <th scope="col" class="p-4">Réalisateur</th>
          <th scope="col" class="p-4">Synopsis</th>
          <th scope="col" class="p-4">Ajouté à</th>
          <th scope="col" class="p-4">Créé à</th>
          <th scope="col" class="rounded-tr-lg"></th>
        </tr>
      </thead>
      <tbody>
        <!--boucle pour récupérer les films via son id-->
        @for (movie of movies; track movie){
        <tr class="border-b border-gray-200">
          <td class="px-4 py-3">{{ movie.title }}</td>
          <td class="px-4 py-3">{{ movie.year }}</td>
          <td class="px-4 py-3">{{ movie.director }}</td>
          <td class="px-4 py-3">{{ movie.synopsis }}</td>
          <td class="px-4 py-3">
            {{ movie.created_at | date : "dd/MM/yyyy HH:mm" }}
          </td>
          <td class="px-4 py-3">
            {{ movie.updated_at | date : "dd/MM/yyyy HH:mm" }}
          </td>
          <td class="px-4 py-3 flex">
            <!--bouton pour modifier un film-->
            <button (click)="selectMovie(movie)" class="bg-green-800 text-white font-bold py-2 px-4 rounded hover:shadow-lg hover:bg-green-700">Modifier</button>
            <!--bouton pour supprimer un film-->
            <button (click)="deleteMovie(movie)" class="bg-red-600 text-white font-bold py-2 px-4 rounded ml-2 hover:shadow-lg hover:bg-red-900">Supprimer</button>
          </td>
        </tr>
        }
      </tbody>
    </table>

    <div class="flex items-center justify-between border-t border-gray-200 bg-white px-4 py-3 sm:px-6">
      <div class="flex flex-1 justify-between sm:hidden">
        <a href="#" class="relative inline-flex items-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-50">Previous</a>
        <a href="#" class="relative ml-3 inline-flex items-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-50">Next</a>
      </div>
      <div class="hidden sm:flex sm:flex-1 sm:items-center sm:justify-between">
        <div>
          <p class="text-sm text-gray-700">
            Affichage
            <span class="font-medium">{{ currentPage }}</span>
            de
            <span class="font-medium">{{ totalPage }}</span>
            sur
            <span class="font-medium">{{ totalItems }}</span>
            résultats
          </p>
        </div>
        <select [(ngModel)]="itemsPerPage" (change)="onItemsPerPageChange()" aria-label="Items per page" class="bg-white border border-gray-300 rounded-md text-sm font-medium text-gray-700">
          <option>5</option>
          <option>10</option>
          <option>15</option>
          <option>20</option>
        </select>
        <div>
          <nav class="isolate inline-flex -space-x-px rounded-md shadow-sm" aria-label="Pagination">
            <button
              (click)="getAllMovies(currentPage - 1)"
              [disabled]="currentPage <= 1"
              class="relative inline-flex items-center rounded-l-md px-2 py-2 text-gray-400 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0"
            >
              <span class="sr-only">Previous</span>
              <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M12.79 5.23a.75.75 0 01-.02 1.06L8.832 10l3.938 3.71a.75.75 0 11-1.04 1.08l-4.5-4.25a.75.75 0 010-1.08l4.5-4.25a.75.75 0 011.06.02z" clip-rule="evenodd" />
              </svg>
            </button>
            <!--i want the number of the page-->
            <span class="relative inline-flex items-center px-4 py-2 bg-white border border-gray-300 text-sm font-medium text-gray-700">
              {{ currentPage }}
            </span>

            <button
              (click)="getAllMovies(currentPage + 1)"
              [disabled]="currentPage >= totalPage"
              class="relative inline-flex items-center rounded-r-md px-2 py-2 text-gray-400 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0"
            >
              <span class="sr-only">Next</span>
              <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd" />
              </svg>
            </button>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
