/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'ngx-toastr/toastr';



#toast-container > .toast-success {
  background-image: none;
  background-color: #166534;
  color: white;
}
#toast-container > .toast-error {
  background-image: none;
  background-color: #7f1d1d;
  color: white;
}